.tab-container {
  display: inline-flex;
  border: 0.5px solid rgb(75, 75, 75);;
  background-color: #000;
  font-size: 1.4rem;
  height: 3rem;
  margin: 1.2rem 0;
  width: fit-content;
}
.tab-container, .tab{
  border-collapse: collapse;
}
.tab {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  border: 0.5px solid rgb(75, 75, 75);
  max-height: 3.2rem;
}
.tab, .tab-container{
  border-collapse: collapse;
}

.tab:hover {
  background-color: #5d5d5d;
}

.tab.selected {
  background-color: #4B4B4B;
}
