.question-mark {
  height: 1.6rem;
  width: 1.6rem;
  margin: 0 0.4rem;
  cursor: pointer;
  filter: invert(100%) sepia(0%) saturate(7465%) hue-rotate(120deg)
    brightness(115%) contrast(95%);
}
.overview-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1.6rem;
}
.value {
  border-bottom: 1px solid rgb(56, 56, 56);
}
.transaction-info {
  display: grid;
  gap: 2.4rem;
  font-size: 1.2rem;
  --rt-color-white: #000;
  --rt-color-dark: #fff;
}
.transaction-keys {
  font-size: 1.2rem;
  color: rgb(170, 170, 170);
  text-transform: uppercase;
}
.transaction-info-type {
  width: 40%;
}
.transaction-info-tab {
  cursor: pointer;
  height: 5.6rem;
  margin-right: 4rem;
}
.transaction-info-tab:hover {
  border-bottom: 2px solid rgb(99, 57, 40);
}
.selected-tab:hover {
  border-bottom: 2px solid rgb(191, 109, 76);
}
.selected-tab {
  border-bottom: 2px solid rgb(191, 109, 76);
  color: rgb(255, 255, 255);
}
.transaction-overview {
  font-size: 1.4rem;
}
.transaction-event-count {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 50%;
  background-color: #000;
}
.transaction-events {
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.transaction-events th,
.transaction-events td {
  text-align: left;
  width: 1%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.transaction-events th {
  color: rgb(170, 170, 170);
  text-transform: uppercase;
  padding: 1rem 0;
  border-top: 1px solid rgb(75, 75, 75);
  border-bottom: 1px solid rgb(75, 75, 75);
}
.transaction-events td {
  border-bottom: 1px solid rgb(75, 75, 75);
  padding: 1rem 0;
}
.resource-builtin,
.resource-steps {
  width: fit-content;
  padding: 4px 10px;
  line-height: 1;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  margin-top: 2px;
}
.resource-steps {
  color: #82f4bb;
  background-color: #202e26;
  border-color: #2e4c3c;
}
.resource-builtin {
  color: rgb(255, 200, 153);
  background-color: rgb(59, 42, 28);
  border-color: rgb(88, 63, 42);
}
.resource-builtin:not(:first-child) {
  margin-left: 0.8rem;
}
.hover-effect:hover {
  background-color: rgb(75, 75, 75);
}
.signature {
  padding-top: 0.8rem;
  height: 3.2rem;
  border-bottom: 1px solid rgb(75, 75, 75);
  border-collapse: collapse;
}
.signature:first-child {
  border-top: 1px solid rgb(75, 75, 75);
}
.transaction-calldata {
  padding: 1.6rem;
  background-color: rgb(37, 37, 37);
}
.calldata-type-list {
  display: inline-block;
}
.calldata-type {
  margin-right: 1.6rem;
}
.calldata-table {
  background-color: #000;
  width: 100%;
  border-collapse: collapse;
}
.calldata-table th:first-child,
.calldata-table td:first-child {
  width: 10%;
}
.calldata-table th {
  text-align: left;
  font-weight: 400;
  color: rgb(170, 170, 170);
}
.calldata-table td,
.calldata-table th {
  padding: 10px;
  border-top: 1px solid rgb(75, 75, 75);
  border-collapse: collapse;
}
.calldata-table tbody tr:hover {
  background-color: #3a3a3a;
}
.calldata-table tbody tr:last-child {
  border-bottom: 1px solid rgb(75, 75, 75);
}

@media screen and (max-width: 768px) {
  .overview-grid {
    grid-template-columns: 1fr;
  }
}
